button {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  font-family: var(--font-base);
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: #1a1a1a;
  background-color: #ccc;
}